.about {
    height: 400px;
    .wrapper {
        width: 60%;
        max-width: 1200px;
        height:400px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        p {
            text-align: center;
        }
    }
}