.about {
    margin: 5% 0%;
    .wrapper {
        width: 60%;
        max-width: 1200px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 200px;
            width: auto;
            border-radius: 50%;
        }
        p {
            text-align: center;
        }
    }
}