// site colors
 $darkGreen: #365C46;
 $black: #14070E;
 $lightGreen: #B6CAA2;
 $white: #FFFFFF;
 $offWhite: #F8F4F3;
 $taupe: #F7E4DC;
 $dustyRose: #DB9999;

//  site fonts
$primaryFont: "Roboto";
$secondaryFont: "Lora";